html, body {
  font-family: sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
}

input, label {
  display: block;
  /* margin: 8px auto; */
}

input {
  padding: 8px;
  width: 300px;
  border: 2px solid black;
}

input[type=submit] {
  width: 100px;
}

